.stretch-card>.card {
    width: 100%;
    min-width: 100%
}


.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

body {
    background-color:  #ebe4e4;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}


.card .card-block {
    padding: 1.25rem
}

h6 {
    font-size: 16px !important
}

.text-c-green {
    color: #2ed8b6
}

.m-l-10 {
    margin-left: 10px
}

.proj-progress-card .progress {
    height: 6px;
    overflow: visible;
    margin-bottom: 10px
}

.proj-progress-card .progress .progress-bar {
    position: relative
}

.progress .progress-bar {
    height: 100%;
    color: inherit
}

.bg-c-red {
    background: #FF5370
}

.proj-progress-card .progress .progress-bar.bg-c-red:after {
    border: 3px solid #FF5370
}

.proj-progress-card .progress .progress-bar:after {
    content: "";
    background: #fff;
    position: absolute;
    right: -6px;
    top: -4px;
    border-radius: 50%;
    width: 15px;
    height: 15px
}

.bg-c-blue {
    background: #4099ff
}

.proj-progress-card .progress .progress-bar.bg-c-blue:after {
    border: 3px solid #4099ff
}

.proj-progress-card .progress .progress-bar.bg-c-green:after {
    border: 3px solid #2ed8b6
}

.bg-c-green {
    background: #2ed8b6
}

.bg-c-yellow {
    background: #FFB64D
}

.proj-progress-card .progress .progress-bar.bg-c-yellow:after {
    border: 3px solid #FFB64D
}

.m-b-30 {
    margin-bottom: 30px
}

.text-c-red {
    color: #FF5370
}

  
  .site-layout .site-layout-background {
    background: #ebe4e4;
  }




.multicolor-bar .values .value {
	float: left;
	text-align: center;
}

.multicolor-bar .scale .graduation {
	float: left;
	text-align: center;
}

.multicolor-bar .bars .bar {
	float: left;
	height: 10px;
}

.multicolor-bar .bars div.bar:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.multicolor-bar .bars div.bar:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.multicolor-bar .legends {
	text-align: center;
}


.multicolor-bar .legends .legend {
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}

.multicolor-bar .legends .legend .dot {
	font-size: 25px;
	vertical-align: middle;
}

.multicolor-bar .legends .legend .label {
	margin-left: 2px;
	vertical-align: middle;
}
